* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

main div {
    display: flex;
    justify-content: center;
}

button {   
    font-weight: bold;
    padding: 20px;
    border-radius: 15px;
    background-color: green;
}

.spenta {
    background-color: red;
}

